services:
  vpn:
    image: qmcgaw/gluetun
    container_name: vpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - "3000:3000" # Web UI port moves here
    volumes:
      - ./gluetun:/gluetun
    environment:
      # GENERIC CONFIGURATION
      - VPN_SERVICE_PROVIDER=${VPN_PROVIDER}
      - OPENVPN_USER=${VPN_USER}
      - OPENVPN_PASSWORD=${VPN_PASSWORD}
      - SERVER_COUNTRIES=${VPN_COUNTRY:-Netherlands}
      # DNS CONFIGURATION
      - DOT=off
      - DNS_ADDRESS=1.1.1.1
    restart: always

  memerv3:
    build: .
    container_name: MemerV3
    env_file: .env
    restart: unless-stopped
    network_mode: service:vpn  # Routes traffic through VPN
    depends_on:
      vpn:
        condition: service_healthy
    volumes:
      - ./data:/app/data
      - ./sounds:/app/sounds
      - ./logs:/app/logs
    # Note: 'ports' are removed here because they serve via the 'vpn' service above.
