services:
  MemerV3:
    image: ghcr.io/evd09/memerv3:latest
    container_name: MemerV3
    env_file: .env
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - ./sounds:/app/sounds
      - ./logs:/app/logs
    ports:
      - "${WEB_PORT:-3001}:3000"

